<div id="home-sec">
  <div class="overlay">
    <div class="container">
      <div class="col-md-8 pad-top scrollclass">

        <h1>
            <strong>An easy to use organizer for running swiss-style tournaments. </strong>
        </h1>
        <p class="home-p">
          Whether you want to run a small four person cube draft at home, or are organizing your local Pro-Tour Qualifier, MTG Tournament Organizer provides an easy-to-use platform for swiss-style tournaments. Whether you want to quickly add a new set of decks, sign up new players, or start a brand new tournament, MTG Tournament Organizer has you covered.
        </p>
        <a class="btn btn-primary btn-lg btn-home" href="/tournaments/new">Start a tournament now!</a> <i class="fa"></i></a>
      </div>
    </div>
  </div>

</div>