<div id="home-sec">
  <div class="overlay dark">
    <div class="container">
      <div class="col-md-8 pad-top scrollclass">
        <h1>New Tournament</h1>
        
        <%= render 'form', tournament: @tournament %>
        
      </div>
    </div>
  </div>
</div>